body {
    width: 980px;
    margin: auto;
    font-size: 24px;
}

article {
    margin: 32px 0;
    box-shadow: 0 0 15px 5px #999;
    padding: 32px;
}

article footer {
    color: #999;
}

.red {
    background-color: rgb(236, 193, 165);
}

.green {
    background-color: rgb(179, 236, 218);
}

.blue {
    background-color: rgb(134, 180, 232);
}