body {
    background-color: rgb(238, 238, 238);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

article {
    max-width: 900px;
    margin: 0 auto;
    /* border: 2px solid black; */
}

img {
    width: 400px;
}

p {
    color: rgb(51, 51, 51);
}