################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/07-UslovniKonstrukciiExcersize/Choreography/bin/Debug/netcoreapp2.1
