<h1>Helllo :)</h1>

<table id="DataTable" class="table table-hover">
    <tr>
        <td>Niki</td>
        <td>2020-11-13</td>
    </tr>
    <tr>
        <td>Stoyan</td>
        <td>2020-11-14</td>
    </tr>
</table>

<button onclick="RefreshData()" class="btn btn-success">Refresh Data</button>

<script>
    function RefreshData() {
        let xhr = new XMLHttpRequest();

        xhr.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById("DataTable").innerHTML = '';
                var people = JSON.parse(this.responseText);

                for (var i = 0; i < people.length; i++) {
                    var person = people[i];

                    document.getElementById("DataTable").innerHTML +=
                        "<tr><td>" + person.name + "</td><td>"+person.date+"</td></tr>";                   
                }
            };            
        };

        xhr.open("GET", "/Home/AjaxDemoData");
        xhr.send();
    };
</script>
