<title>CalendarPickerJS</title>
<link href="~/css/CalendarPicker.style.css" rel="stylesheet" />
<link href="~/css/calendar.css" rel="stylesheet" />

<h1>CalendarPickerJS</h1>

<div id="showcase-wrapper">
    <div id="myCalendarWrapper"></div>
    <div id="example">
        <h3>
            currentValue:
            <p id="current-date"></p>
        </h3>
        <h3>
            currentValue.getDay():
            <p id="current-day"></p>
        </h3>
        <h3>
            currentValue.toDateSring():
            <p id="current-datestring"></p>
        </h3>
    </div>
</div>

<div id="download-options">
    <h2>NPM</h2>
    <code>npm install calendarpickerjs</code>

    <h2>CDN</h2>
    <code>https://cdn.jsdelivr.net/npm/calendarpickerjs@1.2.0</code>
</div>

<script src="~/js/CalendarPicker.js"></script>

<script>
    const nextYear = new Date().getFullYear() + 1;
    const myCalender = new CalendarPicker('#myCalendarWrapper', {
        // If max < min or min > max then the only available day will be today.
        min: new Date(),
        max: new Date(nextYear, 10) // NOTE: new Date(nextYear, 10) is "Sun Nov 01 <nextYear>"
    });

    const currentDateElement = document.getElementById('current-date');
    currentDateElement.textContent = myCalender.value;

    const currentDayElement = document.getElementById('current-day');
    currentDayElement.textContent = myCalender.value.getDay();

    const currentToDateString = document.getElementById('current-datestring');
    currentToDateString.textContent = myCalender.value.toDateString();

    myCalender.onValueChange((currentValue) => {
        currentDateElement.textContent = currentValue;
        currentDayElement.textContent = currentValue.getDay();
        currentToDateString.textContent = currentValue.toDateString();

        console.log(`The current value of the calendar is: ${currentValue}`);
    });
</script>

<script>
    window.onload = function () {
        var calendar = document.getElementsByTagName("time");

        //for (var i = 0; i < calendar.length; i++) {
        //    var element = calendar[i];
        //    element.classList.add("numbers");
        //}
        
        console.log(calendar);
    }
</script>
