#inputBtn {
    color: white;
    background-color: dodgerblue;
    border: 0px;
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 20px;
}

#uploadBtn {
    color: white;
    background-color: dodgerblue;
    border: 0px;
    border-radius: 5px;
    padding: 5px 10px;
}