@model MyFirstAspApp.Controllers.DataViewModel
    <h1>Hello, World</h1>
    <h2>Users: @Model.UserCount</h2>
    <h2>Parameter: @Model.ParameterValue</h2>

    <form method="post">
        <input name="name" />
        <input type="submit" />
    </form>