@model IEnumerable<Funeral.App.ViewModels.AllFramesViewModel>
@{
    ViewData["Title"] = "Направи си";
}
<!DOCTYPE html>
<html>
<head>
    <script src="https://kit.fontawesome.com/3c54b527d8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/Main.css">
</head>
<body>
    <aside id="menu-items">

        <ul>
            <li><a href="?element=frames">Рамки</a></li>
            <li><a href="?element=texts">Текстове</a></li>
            <li><a href="?element=crosses">Кръстове</a></li>
            @if (User.Identity.Name == "stef4otm@gmail.com")
            {
                <div class="dropdown">
                    <button class="dropbtn">Администрация</button>
                    <div class="dropdown-content">
                        <a href="/Admin/UploadFrame">Качване на рамка</a>
                        <a href="/Admin/UploadCross">Качване на кръст</a>
                        <a href="/Admin/UploadText">Качване на текст</a>
                    </div>
                </div>
            }
        </ul>

    </aside>

    <section id="design">
        <div id="main-window">
            <img id="background" src="~/Pictures/Frames/1.gif" alt="">
        </div>
        <div id="items">

            @foreach (var frame in Model)
            {
                <img class="elements" src="@frame.FilePath" alt="">
            }

        </div>
    </section>
</body>
</html>