* {
    box-sizing: border-box;
}

body {
    background-color: lightsteelblue;
}

li {
    display: inline-block;
    border: 0.4rem solid black;
    padding: 10px;
    margin: 10px;
    vertical-align: middle;
    background-color: white;
}

