<!DOCTYPE html>
<html>
<head>
    <title>Направи си</title>
    <link rel="stylesheet" href="~/css/Upload.css">
</head>

<body>
    <h1>Качване на нова рамка</h1>
    <h4>Можете да качвате само файлове с разширение .jpg, .png и .gif.</h4>
    <hr />

    <form method="post" enctype="multipart/form-data" asp-controller="Admin" asp-action="UploadFrame">
        <input id="inputBtn" type="file" name="imgFile" />
        <input id="uploadBtn" type="submit" value="Качи файл." />
        <hr />

        <h4>@Model.UploadMessage</h4>
    </form>
</body>
</html>




