@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!!!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<table class="table table-stripped">
    <tr>
        <th>District</th>
        <th>Average Price</th>
        <th>Min Price</th>
        <th>Max Price</th>
    </tr>
    <tr>
        <th>District</th>
        <th>Average Price</th>
        <th>Min Price</th>
        <th>Max Price</th>
    </tr>
    <tr>
        <th>District</th>
        <th>Average Price</th>
        <th>Min Price</th>
        <th>Max Price</th>
    </tr>
</table>
