body {
    background-color: rgb(238, 238, 238);
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
    margin: 0 auto;
}

article {    
    margin-left: 20px;  
}

.inline {
    display: inline-block;
    /* border: 2px solid black; */
    max-width: 65%;
    vertical-align: top;
}

.small {
    max-width: 30%;
}

img {
    width: 40%;
}

p {
    color: rgb(51, 51, 51);
}

h1, h2 {
    font-family: 'Times New Roman', Times, serif;
}