#all-letters{
    display: flex;
    flex-wrap: wrap;
    
}

.letter{
    margin-right: 10px;
    cursor: pointer;
}

.letter:hover{
    color: rgb(238, 255, 0);
    text-decoration: line-through;
}

#empty-word {
    margin-right: 10px;
}

#have-turns {
    font-size: 20px;
    color: red;
}

#turns-left {
    font-size: 50px;
}