#all-letters{
    display: flex;
    flex-wrap: wrap;
    
}

.letter{
    margin-right: 10px;
    cursor: pointer;
}

.letter:hover{
    color: rgb(238, 255, 0);
    text-decoration: line-through;
}

#empty-word {
    margin-right: 10px;
}

#have-turns {
    font-size: 20px;
    color: red;
}

#turns-left {
    font-size: 50px;
}

/* #wrong-turn {
    animation-name: example;
    animation-duration: 4s;
}

@keyframes example {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
  } */